article {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: .8rem;
}

article header {
    display:  flex;
    align-items: center;
    gap: 4px;
}

article header div{
    display: flez;
    flex-direction: column;
}

article header span{
    opacity: .6;
}
article img{
    width: 60px;
    height: 60px;
    border-radius: 1000px;
}

article button{
    margin-left: 16px;
    border: 0;
    border-radius: 999px;
    padding: 6px 16px;
    font-weight: bold;
}